/*
GLOBALS
*/


/** Colors **/
$light-grey : #f2f2f2; /*Light-grey*/
$dark-grey : #969696 ; /*Dark-grey*/
$mid-grey : #CCCCCC;



/** Blocs **/

.wrap {
    border:1px solid #ccc;
    background: $light-grey;
    padding: 10px;
}

.margtop { /*row*/
    margin-top: 20px;
}


/** Texts **/

h1 {
    color: $dark-grey;
    font-weight: bold;
    
}

.title, .news-title {
    font-size: 22px;
    font-weight: bold;
    color: $dark-grey;
}

.redalert {
    color: $alert-color;
}


/** Button **/
.modify-article, .save-modarticle {
    margin-right: 0.5rem;
}


/** Transition **/
@mixin transitionall($time) {
    -moz-transition: all $time;
    -webkit-transition: all $time;
    transition: all $time;
}

/* SLIDER 2 
*/

#slider {
    position: relative;
    width: 970px;
    width: 100%;
    height: 450px;
    overflow: hidden;
    border: 1px solid $light-grey;

    ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            position: absolute;
            width: 100%;
            height: auto;
            max-height: 450px;
            top: 0;
            left: 0;

        }
    }

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #slider {
        width :640px;
        height: 296px;
    }
}



.fadeout {
    opacity: 0;
    @include transitionall(600ms);


}

.fadein {
    opacity: 1;
    @include transitionall(600ms);
       
}

.controls {
    position: absolute;
    top:45%;
    left: 0;
    width: 100%;
}

.prev, .next {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: $light-grey;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background: $dark-grey;

    }
}

.prev {
     position: absolute;
    left: 4%;

}

.next {
    position: absolute;
    right:4%;
}

.nav {
    position:absolute;
    bottom: 15px;
    right: 15px;
}


.dots {
    display: inline-block;
    border-radius: 30px;
    width: 10px;
    height: 10px;
    background: $light-grey;
    cursor: pointer;
    margin: 0 5px 0 0;

    &:hover {
        background: $dark-grey;

    }
}

.dotsactive {
    background: $dark-grey;
}

/*
NEWS
*/

.news {
    padding: 10px;
    margin-bottom: 10px;
}

.modify-news {
    background: $mid-grey ;
    @include transitionall(600ms);
}